.button-big {
  width: 200px;
  height: 100px;
}

.button-small {
  width: 100px;
  height: 50px;
}

.button-danger {
  background-color: red;
}

.button-info {
  background-color: blue;
}

.button-warn {
  background-color: yellow;
}

.button-default {
  background-color: gray;
}
